*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #faf9f9;
  font-family: sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.h3 {
  font-size: 1.3rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 6rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn {
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s; }

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.3rem; }

.dot {
  height: 0.54rem;
  width: 0.5rem;
  border-radius: 50%; }

.dot--purple {
  background-color: purple; }

.dot--aqua {
  background-color: aqua; }

.dot--orange {
  background-color: orange; }

.post {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .post__main {
    display: flex;
    align-items: flex-start;
    padding: 1rem 1rem 1rem 0; }
  .post__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #101d2c;
    padding: 0 1rem;
    transform: translateY(0.5rem);
    gap: 1rem; }

.comment {
  color: #101d2c;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center; }
  .comment__icon {
    height: 2rem;
    width: 2rem;
    color: rgba(16, 29, 44, 0.2); }
  .comment span {
    font-size: 1.5rem;
    font-weight: 700; }

.tag {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgba(16, 29, 44, 0.05);
  border-radius: 0.7rem;
  color: #101d2c;
  display: inline-block; }
  .tag:hover {
    background-color: #101d2c;
    color: #fff; }
  .tag-6 {
    align-self: flex-start; }

.vote-box {
  margin-right: 2rem;
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(16, 29, 44, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.7rem;
  transform: translateY(0.8rem); }
  .vote-box__icon {
    height: 1rem;
    width: 1rem;
    color: #101d2c; }
  .vote-box__number {
    color: #101d2c; }

.navigation {
  grid-row: 1 / span 6;
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .navigation__card-1 {
    background-image: linear-gradient(to right bottom, #7efff5, #7158e2, #cd84f1);
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.3rem; }
    .navigation__card-1 p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1rem; }
  .navigation__card-2 {
    gap: 1rem;
    background-color: #fff; }
  .navigation__main-tags {
    display: flex;
    gap: 1rem; }
  .navigation__card-3 {
    background-color: #fff; }
  .navigation__view-box {
    color: #101d2c;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem; }
  .navigation__view {
    color: rgba(0, 0, 255, 0.7); }
  .navigation__list {
    list-style: none; }
  .navigation__list__item {
    display: flex;
    color: rgba(16, 29, 44, 0.8);
    justify-content: space-between; }
    .navigation__list__item span {
      font-weight: 700; }
  .navigation__status {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center; }

.container {
  width: 74vw;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 18rem 2fr;
  grid-template-rows: 5rem repeat(6, 1fr);
  gap: 3rem;
  padding: 10rem 15rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #101d2c;
  border-radius: 1rem;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .header__feedback {
    display: flex;
    align-items: center;
    gap: 0.5rem; }
  .header__icon-box {
    transform: translateY(0.2rem); }
  .header__icon-1 {
    height: 2rem;
    width: 2rem; }
  .header__text {
    font-size: 1.1rem;
    margin-left: 3rem;
    transform: translateY(0.2rem); }
  .header__icon-2 {
    height: 1.3rem;
    width: 1.3rem;
    transform: translateY(0.2rem); }
  .header__btn {
    background-color: purple;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1rem;
    padding: 1rem 1.5rem; }
    .header__btn:hover {
      background-color: pink; }
