.container {
  //background-color: aquamarine;

  width: 74vw;
  margin: 10rem auto;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(13, 1fr);
  gap: 3rem;
  padding: 10rem 15rem;
}
