.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  background-color: $color-secondary;
  border-radius: 1rem;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: 900px) {
    flex-direction: row;
    grid-row: 2 / 3;
    width: 95%;
  }

  &__feedback {
    display: flex;

    align-items: center;
    gap: 0.5rem;
  }

  &__icon-box {
    transform: translateY(0.2rem);
  }

  &__h3 {
    @media only screen and (max-width: 1500px) {
      font-size: 1.1rem;
    }
  }

  &__icon-1 {
    height: 2rem;
    width: 2rem;
  }

  &__text {
    font-size: 1.1rem;
    margin-left: 3rem;
    transform: translateY(0.2rem);

    @media only screen and (max-width: 1500px) {
      font-size: 0.9rem;
    }
  }

  &__icon-2 {
    height: 1.3rem;
    width: 1.3rem;
    transform: translateY(0.2rem);
  }

  &__btn {
    background-color: purple;
    color: #fff;

    font-family: $font-display;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: pink;
    }
  }
}
