.navigation {
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media only screen and (max-width: 900px) {
    grid-row: 1 / 2;
    flex-direction: row;
    gap: 1rem;
  }

  //////////////////////////////////////
  ///////////////CARD 1/////////////////

  &__card-1 {
    background-image: linear-gradient(
      to right bottom,
      #7efff5,
      #7158e2,
      #cd84f1
    );
    justify-content: flex-end;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

    & p {
      color: rgba(#fff, 0.5);
      font-size: 1rem;
    }

    @media only screen and (max-width: 900px) {
      padding: 0 3rem 1rem 3rem;
      width: 33%;
    }

    @media only screen and (max-width: 420px) {
      //position: absolute;
      width: 100%;
      padding: 1rem;
    }
  }

  //////////////////////////////////////
  ///////////////CARD 2/////////////////

  &__card-2 {
    gap: 1rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      width: 33%;
      font-size: 1.5rem;
      gap: 1rem;
      align-items: center;
    }

    @media only screen and (max-width: 420px) {
      //position: absolute;
      display: none;
    }
  }

  &__main-tags {
    display: flex;
    gap: 1rem;

    @media only screen and (max-width: 900px) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  //////////////////////////////////////
  ///////////////CARD 3/////////////////
  &__card-3 {
    background-color: $color-white;
    @media only screen and (max-width: 900px) {
      padding: 1rem;
      width: 33%;
    }

    @media only screen and (max-width: 420px) {
      //position: absolute;
      display: none;
    }
  }

  &__view-box {
    color: $color-secondary;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
  }

  &__view {
    color: rgba(blue, 0.7);
  }

  &__list {
    list-style: none;
  }

  &__list__item {
    display: flex;
    color: rgba($color-secondary, 0.8);
    justify-content: space-between;

    & span {
      font-weight: 700;
    }
  }

  &__status {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
