.navigation {
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  //////////////////////////////////////
  ///////////////CARD 1/////////////////

  &__card-1 {
    background-image: linear-gradient(
      to right bottom,
      #7efff5,
      #7158e2,
      #cd84f1
    );
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.3rem;

    & p {
      color: rgba(#fff, 0.5);
      font-size: 1rem;
    }
  }

  //////////////////////////////////////
  ///////////////CARD 2/////////////////

  &__card-2 {
    gap: 1rem;
    background-color: $color-white;
  }

  &__main-tags {
    display: flex;
    gap: 1rem;
  }

  //////////////////////////////////////
  ///////////////CARD 3/////////////////
  &__card-3 {
    background-color: $color-white;
  }

  &__view-box {
    color: $color-secondary;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
  }

  &__view {
    color: rgba(blue, 0.7);
  }

  &__list {
    list-style: none;
  }

  &__list__item {
    display: flex;
    color: rgba($color-secondary, 0.8);
    justify-content: space-between;

    & span {
      font-weight: 700;
    }
  }

  &__status {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
