.btn {
  background-color: pink;
  color: #fff;
  border: none;
  border-radius: 0.7rem;
  font-family: $font-display;
  font-size: 1, 5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  justify-self: end;

  &:hover {
    background-color: purple;
  }
}
