.dot {
  height: 0.54rem;
  width: 0.5rem;
  border-radius: 50%;
}

.dot--purple {
  background-color: purple;
}

.dot--aqua {
  background-color: aqua;
}

.dot--orange {
  background-color: orange;
}
