.post {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 1rem;
  padding: 0 2.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  @media only screen and (max-width: 320px) {
    //position: absolute;
    padding: 0 1rem;
  }

  &__main {
    display: flex;
    align-items: flex-start;
    padding: 1rem 1rem 2rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-secondary;
    padding: 0 1rem;
    transform: translateY(0.5rem);
    gap: 0.5rem;

    & p {
      margin-bottom: 1.5rem;
    }
  }
}

.comment {
  color: $color-secondary;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 2rem;
    width: 2rem;
    color: rgba($color-secondary, 0.2);
  }

  & span {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.num-0 {
  color: rgba($color-secondary, 0.4);
}
